body {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    background: #f1caf7;
    margin: 0;
    padding: 30px;
}

header {
    background-color: #222;
    color: #da1818;
    padding: 20px;
    border-bottom: 3px solid #12d8b0;
    text-align: left;
}

nav {
    margin: 25px 05;
    background-color: #c5bbbb;
    padding: 12px;
    border-left: 7px solid #FFFFFF;
}

nav a {
    margin-right: 20px;
    color: #f83c03;
    text-decoration: double;
}

section {
    background: #dc7373;
    padding: 32px;
    border-left: 5px solid #222;
    border-radius: 4px;
}

button {
    padding: 12px 25px;
    border-radius: 4px;
    border: 2px solid #222;
    background-color: #fff;
    color: #222;
    cursor: pointer;
}

button:hover {
    background-color: #7f7a73;
}

footer {
    text-align: right;
    margin-top: 32px;
    color: #010101;
}